<ion-modal-view ng-controller="AddItemController as $ctrl">
  <ion-header-bar class="bar bar-blue">
    <button class="button button-clear button-icon ion-chevron-down" ng-click="modal.hide()"></button>
    <h1 class="title">Add Item</h1>
  </ion-header-bar>

  <ion-content class="has-footer">
    <!--most of the questions-->
    <h3 class="title-question">What'd ya get?</h3>
    <input class="blue-underscore-input" placeholder="e.g. Beer" ng-model="$ctrl.newItem.title">
    <h3 class="title-question">How many orders?</h3>
    <input class="blue-underscore-input" placeholder="Tap Here" ng-model="$ctrl.newItem.quantity" ng-change="$ctrl.recalculateSharedCost()">
    <h3 class="title-question">What'd it cost?</h3>
    <input class="blue-underscore-input" placeholder="e.g. $12.45" ng-model="$ctrl.newItem.cost" ng-change="$ctrl.recalculateSharedCost()">
    <h3 class="title-question">
      Who<span ng-show="$ctrl.newItem.title"> got <span class="light-blue-text">{{$ctrl.newItem.title}}</span></span>?
    </h3>

    <!--person selection-->
    <div
      class="item item-icon-left person-select-item light-blue-text"
      ng-class="{'last': ($index + 1) === $ctrl.people.length }"
      ng-repeat="person in $ctrl.people track by $index"
      ng-click="$ctrl.selectPerson(person)">

      <i class="icon" ng-class="{'ion-checkmark-round balanced' : person.selected, 'ion-close-round': !person.selected}"></i>
      <span ng-class="{'balanced' : person.selected}">{{person.name}}</span>
      <span class="item-note" ng-if="person.selected && $ctrl.newItem.costPerPerson">
        ${{$ctrl.newItem.costPerPerson}} each
      </span>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="$ctrl.saveItem()">{{$ctrl.editing ? 'Update Item' : 'Add Item' }}</div>
  </div>
</ion-modal-view>
